body{
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px; 
    background-color: #1F2937;
}
.header{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
}

.header.logo{
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

.header.right{
    gap: 1rem;
    font-size: 18px;
}

.intro{
    display: flex;
    flex-direction: row; 
    justify-content: left;
    color: white;
    gap: 0rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro.left{
    justify-content: left;
    flex-direction: column; 
    flex-wrap: wrap;
    flex: 1;
}

.intro.right{
    background-color: gray;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex: 1;
}
.intro h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}
.intro p{
    margin: 0;
}

button{
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    width: 100px;
    height: 40px;
}

.intro button{
    margin-top: 15px;
}

.content{
    background-color: white;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 4rem;
    padding-top: 20px;
}

.callout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.shapes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    margin: 0 25%;
}

.shape-subtext{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.square{
    display: flex;
    background-color: white;
    color: white;
    border-style: solid;
    border-color: #3882F6;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 100px;
    flex: 1 0 auto;
    margin: 0;
    width: 75%
}
.shape-subtext p{
    color: gray;
    font-size: 12px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
}

.quote-with-attribution{
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quote-with-attribution .quote{
    font-size: 26px;
    color: #1F2937;
    font-style: italic;
    width: 50%;
    padding: 0;
    margin: 0;
    opacity: 75%;
}

.quote-with-attribution .attribution{
    font-size: 16px;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;
    width: 50%;
    margin: 0;
    padding: 0;
}

.kickout-box{
    background-color: #3882F6;
    color: white;
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 8px;
}

.kickout-text{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    gap: 0;
    text-align: left;
    
}

.kickout-text .main{
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-size: 16x;
}

.kickout-text .subt{
    margin: 0;
    padding: 0;
    font-size: 16x;
}

.kickout-box button{
    border-style: solid;
    border-color: white;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-size:16px;
    color: white;
    padding: 12px;
}